<!DOCTYPE html>
<html>
<head>
    <title>Analyze Data</title>
    <link rel="stylesheet" href="static/analyze.css">
</head>
<body>
    <h1>Analyze Data</h1>
    <div class="container">
        <div class="overview">
        <h2>Overview {{ overview_data1['Name'] }}</h2>
        <ul>
            <li><strong>Symbol:</strong> {{ overview_data1['Symbol'] }}</li>
            {% for key, value in overview_data1.items() %}
                {% if key not in ['Description', 'Address', 'Name', 'Symbol', 'Exchange', 'Country', 'CIK', 'Sector', 'Industry', 'FiscalYearEnd', 'LatestQuarter', 'AssetType', 'Currency'] %}
                    <li><strong>{{ key }}:</strong> {{ value }}</li>
                {% endif %}
            {% endfor %}
        </ul>
        </div>
        <div class="overview">
        <h2>Overview {{ overview_data2['Name'] }}</h2>
        <ul>
            <li><strong>Symbol:</strong> {{ overview_data2['Symbol'] }}</li>
            {% for key, value in overview_data2.items() %}
                {% if key not in ['Description', 'Address', 'Name', 'Symbol', 'Exchange', 'Country', 'CIK', 'Sector', 'Industry', 'FiscalYearEnd', 'LatestQuarter', 'AssetType', 'Currency'] %}
                    <li><strong>{{ key }}:</strong> {{ value }}</li>
                {% endif %}
            {% endfor %}
        </ul>
        </div>
    </div>
    <form method="post" action="/final">
      <div class="button-container">
        <button type="submit" class="view-button">View Results</button>
      </div>
    </form>
</body>
</html>
