<!DOCTYPE html>
<html>
<head>
    <title>Stock Analyzer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index_styles.css') }}">
</head>
<body>
    <h1>Welcome to Stock Analyzer</h1>
    <form method="POST" action="/">
        <div class="input-container">
            <input type="text" name="Symbol1" id="Symbol1" placeholder="Symbol 1">
            <input type="text" name="Symbol2" id="Symbol2" placeholder="Symbol 2">
            <button type="submit">Analyze</button>
        </div>
    </form>
</body>
</html>
